*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: none;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.header{
  width: inherit;
  height: 10vh;
  box-shadow: 0px 4px 10px 2px #bebebe;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;

  .site-name{
    width: 10%;
    img{
      width: 100%;
      height: 100%;
    }
  }

  .navigation{
    // width: 70%;
    color: #ff9e71;
    ul{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .hamburger{
    display: none;
  }
}


.carousel{
  width: 100%;
  height: 90vh;
  background-color: wheat;
  overflow-x: hidden;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 53, 53, 0.219);
    z-index: 1;
  }
  .banner-container{
    height: 100%;
    display: flex;
    width: fit-content;
    transition: 1s transform ease-in-out ;
    img{
      width: 100vmax;
      height: 100%;
    }
  }

  .finder{
    position: absolute;
    width: 90%;
    padding: 0px 20px;
    height: 100px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    #form{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      input{
        height: 30px;
        border: none;
        border-right: .5px solid #a3a0a0;
        padding-left: 20px;
        &::placeholder{
          padding-left: 10px;
        }
        &:nth-child(1){
          width: 100%;
        }
      }

      select{
        padding: 20px;
        border: none;
        margin-right: 10px;
      }

      button{
        border: none;
        padding: 10px 25px;
        border-radius: 7px;
        background-color: #fd4128;
        color: white;
        box-shadow: 0px 3px 8px 0px #00000067;
      }
    }
  }
}

.content{
  margin-top: 30px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .about{
    width: 500px;
    padding-left: 10px;
    height: fit-content;
    margin: 10px 0px;
    .title{
      background-image: url('../assets/or/logo-1.png');
      background-repeat: no-repeat;
      background-size: 150px 70px;
      background-position: center center;
      width: 200px;
      height: 100px;
    }
    .text{
      margin-top: 20px;
      font-size: 18px;
      line-height: 2.0em;
      opacity: .7;
    }
  }

  .links{
    width: 400px;
    height: fit-content;
    .title{
      font-size: 28px;
      margin-left: 10px;
      font-weight: 400;
    }

    ul {
      li{
        margin: 10px 0px;
        opacity: 0.8;
        a{
          display: flex;
          align-items: center;
          i{
            opacity: .3;
            margin: 0px 10px;
          }
        }
      }
    }
  }

  .contact{
    width: 300px;
    height: fit-content;
    h4{
      margin: 10px 0px;
      font-size: 28px;
      margin-left: 10px;
      font-weight: 400;
    }
    p{
      margin-top: 20px;
      font-size: 18px;
      line-height: 2.0em;
      opacity: .7;
    }
  }
}

.margin{
  width: 90%;
  background-color: rgba(192, 192, 192, 0.61);
  height: .5px;
  margin: 30px auto;
  border: none;
}

footer{
  text-align: center;
  opacity: .7;
  height: 13vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  p{
    margin-left: 5px;
  }
}












// MEDIA QUERIES

@media screen and (max-width: 700px){
  body{
    overflow-x: hidden;
  }
  .header{
    .site-name{
      width: 20%;
      img{
        width: 100%;
        height: 100%;
      }
    }


    .navigation{
      position: absolute;
      background-color: rgba(63, 63, 63, 0.274);
      display: block;
      z-index: 5;
      width: 100%;
      height: 100vh;
      top: 0%;
      left: 0%;
      transform: translateX(100% );
      transition: .5s transform cubic-bezier(0.68, -0.55, 0.265, 1.55);

      ul{
        width: 60%;
        background: #ffffff;
        height: 96%;
        margin-left: auto;
        box-shadow: -1px 0px 3px 0px #bebebe;
        padding-top: 23px;
        display: block;
       li{
         padding: 10px 0px 10px 20px;
         margin: 10px 0px;
         &:hover{
          background: rgba(233, 233, 233, 0.527);
         }
       }
      }
    }

    .active-navigation{
      transform: translateX(0%);
      transition: .5s transform cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .hamburger{
      display: block;
      cursor: pointer;
    }
  }

    .carousel{
      height: 70vh;
      .finder{
        #form{
          width: 100%;
          height: 250%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;

          input{
            width: 70%;
            height: 40px;
            border: .5px solid #d4d4d459;
            border-radius: 4px;
            padding-left: 15px;
            &::placeholder{
              padding-left: 10px;
            }
            &:nth-child(1){
              width: 70%;
            }
          }

          select{
            width: 200px;
            padding: 10px;
            border: .5px solid #d4d4d459;
          }
        }
      }
    }


    .content{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;

      .about{
        width: 90%;
        height: fit-content;
        margin: 10px 0px;
        .title{
          width: 200px;
          height: 100px;
        }
      }

      .links{
        width: 90%;
        height: fit-content;
        margin: 30px 0px;
        .title{
          margin-left: 0px;
        }
      }

      .contact{
        width: 90%;
        height: fit-content;
        h4{
          margin-left: 0px;
          font-weight: 400;
        }
        p{
          margin-left: 10px;
        }
      }
    }

    footer{
      justify-content: space-around;
    }
}

